.body {
		background-image: url(LC.jpg);
		background-size: cover;
	}

.hp {
	width: 900px;
	height: 50px;
	background-color: yellow;
	position: absolute;
	top: 220px;
	left: 480px;
	transition: 1s;
}

.box1 {
	margin-left: 405px;
	margin-top: 190px;
	background-color: none;
	width: 30px;
	height: 30px;
}

.text {
	font-size: 35px;
	font-family: Arial;
	margin-top: 0px;
	margin-bottom: 0px;
}

.box2 {
	background-color: none;
	height: 30px;
}

.mix {
	margin-left: 840px;
	margin-top: 20px;
	background-color: orange;
	width: 50px;
	height: 20px;
}

.target1 {
	background-image: url(blast.png);
	background-size: 100% 100%;
	height: 200px;
	width: 300px;
	position: absolute;
	top: 320px;
	left: 415px;
	transition: 1s;
}

.target2 {
	background-image: url(blbon.png);
	background-size: 120% 100%;
	height: 200px;
	width: 300px;
	position: absolute;
	top: 320px;
	left: 745px;
	transition: 1s;
}

.target3 {
	background-image: url(bone4.png);
	background-size: 100% 100%;
	height: 200px;
	width: 300px;
	position: absolute;
	top: 320px;
	left: 1065px;
	transition: 1s;
}

.target4 {
	background-image: url(knife.png);
	background-size: 100% 100%;
	height: 200px;
	width: 300px;
	position: absolute;
	top: 570px;
	left: 415px;
	transition: 1s;
}

.target5 {
	background-image: url(orbon.png);
	background-size: 100% 100%;
	height: 200px;
	width: 300px;
	position: absolute;
	top: 570px;
	left: 745px;
	transition: 1s;
}

.target6 {
	background-image: url(sans.png);
	background-size: 100% 100%;
	height: 200px;
	width: 300px;
	position: absolute;
	top: 570px;
	left: 1065px;
	transition: 1s;
}